table.gig-schedule {
	margin-bottom: 2em;
	padding-right: 2em;
	border-collapse: separate;
	border-spacing: 4px 0;
}
table.gig-schedule tbody tr td:first-child {
	border: none;
	width: 4em;
	text-align: right;
	background-color: white;
	font-size: smaller;
	font-weight: 300;
	padding: 0.5em 1em;
}
/*table.gig-schedule tbody tr:nth-child(odd) {
	background-color: rgba(127, 221, 233, 0.14);
}*/
table.gig-schedule tbody tr td {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}
table.gig-schedule tbody tr td.j-start:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
td.j-start {
	border-top: 2px solid grey !important;
}
td.j-end {
	border-bottom: 2px solid grey !important;
}
td.j-shift {
	border-right: 2px solid grey !important;
	border-left: 2px solid grey;
	/*width: 12em;*/

}
table.gig-schedule tbody tr td a {
	display: block;
	width: 11em;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	font-size: smaller;
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	padding-left: 0.3em;
}

/*table.gig-schedule thead tr:nth-child(2) th {
	background-color: rgba(0,0,0,0.5);
}*/
table.gig-schedule thead tr th a {
	font-size: smaller;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(0,0,0,0.5);
}

.sch-Performance {
	background-color: rgba(0,160,255,0.65);

}
.sch-My-Performance {
	background-color: rgba(0,127,255,0.5)
}

.sch-Workshop {
	background-color: rgba(255,160,0,0.65)
}
.sch-My-Workshop {
	background-color: rgba(255,127,0,0.5)
}

.sch-Volunteer {
	background-color: rgba(160,255,0,0.65)
}

.qr-check {
	margin: 2em;
	min-height: 5em;
	vertical-align: middle;
	color: white;
	font-size: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.qr-check .qr-valid {
	padding: 1em;
	background-color: rgb(104, 159, 56);
}
.qr-check .qr-fail {
	padding: 1em;
	background-color: red;
}